source https://api.nuget.org/v3/index.json

content: none
framework: net452, net462
redirects: on

nuget CommandLineParser
nuget NLog.Config
nuget r2rml4net prerelease
nuget SqlLocalDb
nuget xunit

github r2rml4net/test-cases