<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlServer2008Master" connectionString="Data Source=(local);Initial Catalog=master;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SqlServer2008Test" connectionString="Data Source=(local);Initial Catalog=r2rml4net_tests;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <uri>
    <idn enabled="None" />
    <iriParsing enabled="false" />
  </uri>
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="dotNetRDF" publicKeyToken="6055ffe4c97cc780" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
</configuration>
