<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="testDir" value="..\..\test-cases"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlServer2008Master" connectionString="Data Source=(local);Initial Catalog=master;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="SqlServer2008Test" connectionString="Data Source=(local);Initial Catalog=r2rml4net_tests;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <uri>
    <idn enabled="None"/>
    <iriParsing enabled="false"/>
  </uri>
</configuration>
